src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors_Staged/SharedResources/XMLSchemas/2014/Payment/lrc-return.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="base-types.xsd"/>

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/common-all.xsd"/>

  <xs:complexType name="LrcReturnRequestType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:element name="OrderContext" type="PaymentOrderContextType">
        <xs:annotation>
          <xs:documentation>Context of the order for which the transaction is being performed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
        <xs:annotation>
          <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalRequest" type="OriginalRequestType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>For retries, information about the original request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tender" type="LrcTenderType">
        <xs:annotation>
          <xs:documentation>Tender information to be used in the transaction</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
      <xs:element name="ReturnAmount" type="common:CurrencyAmountType">
        <xs:annotation>
          <xs:documentation>Positive amount to be returned</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A brief description reasoning the return</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:complexType name="LrcReturnResponseType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="OrderContext" type="PaymentOrderContextType">
            <xs:annotation>
              <xs:documentation>Order context from the request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
            <xs:annotation>
              <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationId" type="ConfirmationIdType">
            <xs:annotation>
              <xs:documentation>Unique  Id generated by the service to acknowledge and identify the successful transaction </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
          <xs:element name="ReturnAmount" type="common:CurrencyAmountType">
            <xs:annotation>
              <xs:documentation>Positive amount that was returned as a part of transaction</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NewBalanceAmount" type="common:CurrencyAmountType">
            <xs:annotation>
              <xs:documentation>Positive balance amount in the card after the redemption.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionMetadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Transaction meta data, like the date and time when a transaction is performed and the unique id to determine the transaction in a given scope. The attribute "type" defines the scope of the transaction id.Ex: id = 213324 type = gateway, means this transaction can be identified in the payment gateway with id = 213324</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FinancialDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The financial date on which the transaction will be settled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tender" type="LrcTenderType">
            <xs:annotation>
              <xs:documentation>Tender information to be used in the transaction</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Error" type="common:ErrorType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:element name="LrcReturnRequest" type="LrcReturnRequestType">
    <xs:annotation>
      <xs:documentation>Request for LRC return</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="LrcReturnResponse" type="LrcReturnResponseType">
    <xs:annotation>
      <xs:documentation>Response with the transaction status and the outcome of the return</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
