src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider_Staged/SharedResources/XMLSchemas/Verifone/UGP-V1/UGPCreditPreAuthorizationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by lchari (Williams-Sonoma, Inc.) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
	 xmlns="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/Credit/PreAuthorizationResponse"
	 xmlns:com="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type"
	 vc:minVersion="1.1"
	 targetNamespace="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/Credit/PreAuthorizationResponse"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type" schemaLocation="UGPbase-type.xsd"/>
	<xs:element name="UGPRESPONSE">
		<xs:complexType>
			<xs:all>
				<xs:element name="ACCOUNT" type="com:ACCOUNT_TYPE" minOccurs="0"/>
				<xs:element name="SITE" type="com:SITE_TYPE" minOccurs="0"/>
				<xs:element name="TERM" type="com:TERM_TYPE" minOccurs="0"/>
				<xs:element name="COMMAND" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESPONSE_TEXT" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT" type="xs:string" minOccurs="0"/>
				<xs:element name="ACCT_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="TRACE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTH_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_MEDIA" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="AVS_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CVV2_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="CMRCL_FLAG" type="xs:string" minOccurs="0"/>
				<xs:element name="BATCH_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="CTROUTD" type="xs:string" minOccurs="0"/>
				<xs:element name="TA_TOKEN" type="com:TA_TOKEN_TYPE" minOccurs="0"/>
				<xs:element name="AVAIL_BALANCE" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANS_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANS_DATETIME" type="xs:string" minOccurs="0"/>
				<xs:element name="PPCV" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTH_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="AVAIL_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="ORIG_TRANS_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="DIFF_AMOUNT_DUE" type="xs:string" minOccurs="0"/>
				<xs:element name="INTRN_SEQ_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="INVOICE" type="xs:string" minOccurs="0"/>
				<xs:element name="PY_RESP_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="REFERENCE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESPONSE_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="TERMINATION_STATUS" type="xs:string" minOccurs="0"/>
				<xs:element name="TRANS_SEQ_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="TROUTD" type="xs:string" minOccurs="0"/>
				<xs:element name="AUTH_RESP_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_ACCT_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_AUTH_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_AVS_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_CVV2_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_CTROUTD" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_INVOICE" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_PAYMENT_MEDIA" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_TRANS_AMOUNT" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_TRANS_DATETIME" type="xs:string" minOccurs="0"/>
				<xs:element name="DUP_TROUTD" type="xs:string" minOccurs="0"/>
				<xs:element name="STATUS_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="BATCH_TRACE_ID" type="xs:string" minOccurs="0"/>
				<xs:element name="TKN_PROCESS" type="com:TKN_PROCESS_TYPE" minOccurs="0"/>
				<xs:element name="TKN_USED" type="com:TKN_USED_TYPE" minOccurs="0"/>
				<xs:element name="TKN_MATCHING" type="com:TKN_MATCHING_TYPE" minOccurs="0"/>
				<xs:element name="TKN_PAYMENT" type="com:TKN_PAYMENT_TYPE" minOccurs="0"/>
				<xs:element name="TKN_EXPDATE" type="com:TKN_EXPDATE_TYPE" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="RSA" type="xs:string">
				<xs:annotation>
					<xs:documentation>A re-Admin is triggered by the RSA attribute value “1” inside the UGPRESPONSE tag of a transaction.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RSV" type="xs:string">
				<xs:annotation>
					<xs:documentation>Re-Sync VeriCentre</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>