src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider_Staged/SharedResources/XMLSchemas/Verifone/UGP-V1/UGPTokenizationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by lchari (Williams-Sonoma, Inc.) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
	 xmlns="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/TokenizationQueryResponse"
	 xmlns:com="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type"
	 vc:minVersion="1.1"
	 targetNamespace="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/TokenizationQueryResponse"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type" schemaLocation="UGPbase-type.xsd"/>
	<xs:element name="UGPRESPONSE">
		<xs:complexType>
			<xs:all>
				<xs:element name="ACCOUNT" type="com:ACCOUNT_TYPE" minOccurs="0"/>
				<xs:element name="SITE" type="com:SITE_TYPE" minOccurs="0"/>
				<xs:element name="TERM" type="com:TERM_TYPE" minOccurs="0"/>
				<xs:element name="COMMAND" type="xs:string" minOccurs="0"/>
				<xs:element name="PAYMENT_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESPONSE_TEXT" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT" type="xs:string" minOccurs="0"/>
				<xs:element name="TKN_PROCESS" type="com:TKN_PROCESS_TYPE" minOccurs="0"/>
				<xs:element name="TKN_CNAME" type="com:TKN_CNAME_TYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The cardholder name for the Token record</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TKN_CADDR" type="com:TKN_CADDR_TYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>5The cardholder address for the Token record</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TKN_CPCODE" type="com:TKN_CPCODE_TYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The cardholder postal code for the Token record</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TKN_CTYPE" type="com:TKN_CTYPE_TYPE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>7.	The cardholder card type for the Token record</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TKN_STATUS" type="com:TKN_STATUS_TYPE" minOccurs="0"/>
				<xs:element name="TKN_MATCHING" type="com:TKN_MATCHING_TYPE" minOccurs="0"/>
				<xs:element name="TKN_PAYMENT" type="com:TKN_PAYMENT_TYPE" minOccurs="0"/>
				<xs:element name="TKN_RESULT_CODE" type="com:TKN_RESULT_CODE" minOccurs="0"/>
				<xs:element name="TKN_RESULT_TEXT" type="com:TKN_RESULT_TEXT" minOccurs="0"/>
				<xs:element name="TKN_EXPDATE" type="com:TKN_EXPDATE_TYPE" minOccurs="0"/>
				<xs:element name="PPCV" type="xs:string" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="RSA" type="xs:string">
				<xs:annotation>
					<xs:documentation>A re-Admin is triggered by the RSA attribute value “1” inside the UGPRESPONSE tag of a transaction.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RSV" type="xs:string">
				<xs:annotation>
					<xs:documentation>Re-Sync VeriCentre</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>