src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors_Staged/SharedResources/XMLSchemas/PaymentServiceInternal/UGP_SVC_TransactionSearchResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://paymentservice.wsgc.com/2014/common/PaymentServices/SharedResources/PaymentServiceInternal/UGP_SVC_TransactionSearchResponse.xsd"
	 xmlns:ns0="http://services.wsgc.com/2014/Payment"
	 targetNamespace="http://paymentservice.wsgc.com/2014/common/PaymentServices/SharedResources/PaymentServiceInternal/UGP_SVC_TransactionSearchResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://services.wsgc.com/2014/Payment" schemaLocation="../2014/Payment/svc-redemption.xsd"/>
	<xs:import namespace="http://services.wsgc.com/2014/Payment" schemaLocation="../2014/Payment/svc-reload.xsd"/>
	<xs:element name="UGP_SVC_TransactionSearch">
		<xs:complexType>
			<xs:choice>
				<xs:element name="SvcRedemptionResponse" type="ns0:SvcRedemptionResponseType" minOccurs="0"/>
				<xs:element name="SvcReloadResponse" type="ns0:SvcReloadResponseType" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>