src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider/SharedResources/XMLSchemas/2014/Payment/credit-capture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="base-types.xsd"/>

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/common-all.xsd"/>

  <xs:complexType name="CreditCardMarkForCaptureRequestType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:element name="OrderContext" type="PaymentOrderContextType">
        <xs:annotation>
          <xs:documentation>Context of the order for which the transaction is being performed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
        <xs:annotation>
          <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalRequest" type="OriginalRequestType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>For retries, information about the original request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tender" type="TokenRequestTenderType">
        <xs:annotation>
          <xs:documentation>Tender information to be used in the transaction</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Authorization" type="AuthorizationType">
        <xs:annotation>
          <xs:documentation>Authorization information returned by the authorization process</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
      <xs:element name="CaptureAmount" type="common:CurrencyAmountType">
        <xs:annotation>
          <xs:documentation>Positive amount value to be captured inclusive of the incurred tax amount. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncludedTaxAmount" type="common:CurrencyAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Positive tax amount included in the capture amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentPlanCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Payment plan code in case if the customer has chosen to pay by instalments.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargeDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Brief description of charge.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:complexType name="CreditCardMarkForCaptureResponseType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="OrderContext" type="PaymentOrderContextType">
            <xs:annotation>
              <xs:documentation>Order context from the request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
            <xs:annotation>
              <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationId" type="ConfirmationIdType">
            <xs:annotation>
              <xs:documentation>Confirmation Id provided by the payment gateway</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionMetadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Transaction meta data, like the date and time when a transaction is performed and the unique id to determine the transaction in a given scope. The attribute "type" defines the scope of the transaction id.Ex: id = 213324 type = gateway, means this transaction can be identified in the payment gateway with id = 213324</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FinancialDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>The financial date on which the transaction will be settled.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tender" type="TokenResponseTenderType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Payment token generated in the transaction.
              Existence of this  element , means the token is refreshed and consuming application should consider this as the replacement for the old token.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Error" type="common:ErrorType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:element name="CreditCardMarkForCaptureRequest" type="CreditCardMarkForCaptureRequestType">
    <xs:annotation>
      <xs:documentation>A request to mark the authorized amount for capture</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CreditCardMarkForCaptureResponse" type="CreditCardMarkForCaptureResponseType">
    <xs:annotation>
      <xs:documentation>A response to mark the authorized amount for capture</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
