src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors/SharedResources/XMLSchemas/2014/Payment/base-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/common-all.xsd"/>

  <xs:simpleType name="ConsumerTransactionIdType">
    <xs:annotation>
      <xs:documentation>Unique transaction Id generated by the consumer application to identify the request.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="ConfirmationIdType">
    <xs:annotation>
      <xs:documentation>Unique transaction Id generated by the consumer application to identify the request.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="RawMagneticTrackDataType">
    <xs:annotation>
      <xs:documentation>Raw magnetic tape data. This is mainly useful with the card is swiped</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>This attribute contains an alphanumeric ID/name of the given track. Ex:TRACK1,TRACK2,TRACK3</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CardExpirationType">
    <xs:sequence>
      <xs:element name="Year">
        <xs:annotation>
          <xs:documentation>This is the 4 digit card expiry year.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
            <xs:minInclusive value="1000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Month">
        <xs:annotation>
          <xs:documentation>Expiry month of the card.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="07"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="09"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CardMetadataType">
    <xs:sequence>
      <xs:element name="CardHolderName">
        <xs:annotation>
          <xs:documentation>Card holder's name</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="FullName" type="xs:string"/>
            <xs:element name="Name" type="common:CompoundNameType"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="CardExpiration" type="CardExpirationType" minOccurs="0"/>
      <xs:element name="RawMagneticTrackData" type="RawMagneticTrackDataType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorizationType">
    <xs:sequence>
      <xs:element name="Code">
        <xs:annotation>
          <xs:documentation>Authorization code provided by the issuing bank</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Expiration" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Date  and time when authorization expires.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="common:CurrencyCodeType">
        <xs:annotation>
          <xs:documentation>Three character ISO 4217 currency code to be used for the transaction. Ex: USD,INR,EUR,JPY,GBP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="common:CurrencyAmountType">
        <xs:annotation>
          <xs:documentation>Positive authorized amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Metadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation> Id returned back in authorization response, other than the authorization code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StoreContextType">
    <xs:sequence>
      <xs:element name="StoreId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifier of a retail location where the transaction has been originated. Typically, a store number serves as such identifier. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegisterId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifier of the point of sale terminal (register) where the transaction has been originated. Register identifiers are unique within a retail location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentTerminalId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifier of a device that collected and processed the payment information, e.g. a PIN pad. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegisterTransactionId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifier of the transaction, generated by the point of sale system (register). Typically, this identifier is included on transaction receipts.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UserId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifier used by an in-store associate who faciliated the transaction to sign into the point of sale system (register). Typically, this is an Active Directory username.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosUserId" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Legacy 4 digit identifier used by an in-store associate who faciliated the transaction to sign into the point of sale system (register). This identifier will be deprecated when WSI fully adopts Active Directory accounts for user authentication in the point of sale system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssociateId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Employee ID of an in-store associate who facilitated the transaction at the point of sale (register).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CareCenterContextType">
    <xs:sequence>
      <xs:element name="UserId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Store associate's  user account. Assocaite's AD account might be leveraged</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssociateId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Associate Id of the user performing transaction on behalf of the customer</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentContextType">
    <xs:sequence>
      <xs:element name="Concept" type="common:ConceptCodeType">
        <xs:annotation>
          <xs:documentation>WSI "Concept" for which the transaction is being performed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Channel" type="xs:string">
        <xs:annotation>
          <xs:documentation>Channel through which the transaction is originated.
            Ex: ECOM,CCUI
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="Store" type="StoreContextType">
          <xs:annotation>
            <xs:documentation>Context to be used only by store originated transactions</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CareCenter" type="CareCenterContextType">
          <xs:annotation>
            <xs:documentation>Contextual information specific to care centre</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TenderTypeType">
    <xs:sequence>
      <xs:element name="Code" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type of the payment. EX:CERTIFICATE,CREDIT_CARD,STORED_VALUE_CARD,CASH,REFUND_CHECK,DUE_BILL,CHECK</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sub type of the payment. EX:LOYALTY,VISA,MASTER,AMEX,DISCOVER,PLCC/PB,PLCC/WE,VISA/WS,MERCH_CARD,GIFT_CARD,E_GIFT_CARD,BUSINESS_SALES_GIFT_CARD,THRID_PARTY_ISSUED_GIFT_CARD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tag" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Type tag for individual payment types, which represent additional properties or classifications
            beyond the general payment type. Tags are to be preserved and passed along to other systems as received from the
            payment service. Multiple tags with the same type are permitted as long as they have distinct values. The order of
            tags is not significant but systems are encouraged to preserve order when there is no compelling reason to do
            otherwise.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TokenType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>The scheme identifies the token generation mechanism.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scope" type="xs:string">
          <xs:annotation>
            <xs:documentation>Indicates whether a token is card level , transaction level token. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isTemporary" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Indicates the token is a transiant . Generally a token created locally in wsi might be temporary. When IsTemporary is "True", it indicates that consumer of this token has to comeback and renew the token</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expiration" type="xs:dateTime" use="required">
          <xs:annotation>
            <xs:documentation>Date and time when the token expires</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MatchingHashType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Scheme of the hash.
              Hashes created using same algorithm, salt etc  will have same scheme identifier.
              Hashes with same scheme can be matched.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AccountRequestTenderType">
    <xs:sequence>
      <xs:element name="Type" type="TenderTypeType"/>
      <xs:choice>
        <xs:element name="AccountNumber" type="xs:string">
          <xs:annotation>
            <xs:documentation>Plain text card number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Token" type="TokenType">
          <xs:annotation>
            <xs:documentation>Transactable token information</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TokenRequestTenderType">
    <xs:sequence>
      <xs:element name="Type" type="TenderTypeType"/>
      <xs:element name="Token" type="TokenType">
        <xs:annotation>
          <xs:documentation>Transactable token information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TokenResponseTenderType">
    <xs:sequence>
      <xs:element name="Type" type="TenderTypeType"/>
      <xs:element name="Token" type="TokenType">
        <xs:annotation>
          <xs:documentation>Transactable token information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Hash" type="MatchingHashType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The hashed value of the credit card number. There can be multiple hashes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaskedAccountNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Masked PAN number.Ex :************4321</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SvcTenderType">
    <xs:sequence>
      <xs:element name="Type" type="TenderTypeType"/>
      <xs:element name="AccountNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plain text SVC number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LrcTenderType">
    <xs:sequence>
      <xs:element name="Type" type="TenderTypeType"/>
      <xs:element name="CertificateNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plain text certificate number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TokenResponseErrorType">
    <xs:complexContent>
      <xs:extension base="common:ErrorType">
        <xs:sequence>
          <xs:element name="Tender" type="TokenResponseTenderType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PaymentOrderContextType">
    <xs:annotation>
      <xs:documentation>
        Provides information about the order that a payment operation is performed for.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The creation time of the order (which is expected to not change between calls for the
            same order).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="omsOrderId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          The unique identifier for this order in the order management system.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="OriginalRequestType">
    <xs:annotation>
      <xs:documentation>
        Provides information about the first request for situations in which a request is re-tried
        (typically due to timeouts or connection failures).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransactionTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>The transaction time from the original request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
