src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors/SharedResources/XMLSchemas/2014/Payment/reward-service-cancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns:payment="http://services.wsgc.com/2014/Payment"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="base-types.xsd"/>

  <xs:include schemaLocation="reward-service-types.xsd"/>

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/base-types.xsd"/>

  <xs:complexType name="CancelRequestType">
    <xs:sequence>
      <xs:element name="ConsumerTransactionId" type="payment:ConsumerTransactionIdType">
        <xs:annotation>
          <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentContext">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="PaymentContextType">
              <xs:sequence>
                <xs:element minOccurs="0" name="OrderContext" type="PaymentOrderContextType">
                  <xs:annotation>
                    <xs:documentation>Context of the order for which the transaction is being performed</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancellationDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A brief description reasoning the cancellation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:complexType name="CancelResponseType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="CancellationId" type="payment:ConfirmationIdType">
          <xs:annotation>
            <xs:documentation>Unique  Id generated by the service to acknowledge and identify the successful transaction </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RewardCertificate" type="RewardCertificateType"/>
        <xs:element name="TransactionMetadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Transaction meta data, like the date and time when a transaction is performed and the unique id to determine the transaction in a given scope. The attribute "type" defines the scope of the transaction id.Ex: id = 213324 type = gateway, means this transaction can be identified in the payment gateway with id = 213324</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ConsumerTransactionId" type="payment:ConsumerTransactionIdType">
          <xs:annotation>
            <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="Error" type="common:ErrorType"/>
    </xs:choice>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:element name="CancelRequest" type="CancelRequestType"/>

  <xs:element name="CancelResponse" type="CancelResponseType">
    <xs:annotation>
      <xs:documentation>Response with the transaction status and the outcome of the inquiry</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
