src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors/SharedResources/XMLSchemas/2014/Payment/reward-service-redeem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:payment="http://services.wsgc.com/2014/Payment"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:include schemaLocation="base-types.xsd"/>

  <xs:include schemaLocation="reward-service-types.xsd"/>

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/base-types.xsd"/>

  <xs:complexType name="RedeemRequestType">
    <xs:sequence>
      <xs:element name="ConsumerTransactionId" type="payment:ConsumerTransactionIdType">
        <xs:annotation>
          <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentContext">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="payment:PaymentContextType">
              <xs:sequence>
                <xs:element name="OrderContext" type="payment:PaymentOrderContextType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Context of the order for which the transaction is being performed</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="CanOverrideExpiration" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This flag allows the customer care associate to force the operation inspite of the certificate has expired.Default is false.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
      <xs:element name="RedemptionAmount" type="common:CurrencyAmountType">
        <xs:annotation>
          <xs:documentation>Positive amount to be redeemed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CanPartiallyRedeem" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicator to allow partial redemption if "true".Ex: if the redemption amount         is $100 and card balance is $80. $80 will be redemed.Default value is "false" meaning partial redemption is not allowed.        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RedemptionDescription" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A brief description reasoning the redemption</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:complexType name="RedeemResponseType">
    <xs:choice>
      <xs:sequence>
        <xs:element name="RedemptionId" type="payment:ConfirmationIdType">
          <xs:annotation>
            <xs:documentation>Unique  Id generated by the service to acknowledge and identify the successful transaction </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
        <xs:element name="RequestedAmount" type="common:CurrencyAmountType">
          <xs:annotation>
            <xs:documentation>Positive amount requested to redeem</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RedeemedAmount" type="common:CurrencyAmountType">
          <xs:annotation>
            <xs:documentation>Positive amount that was redeemed as a part of transaction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RewardCertificate" type="RewardCertificateType"/>
        <xs:element name="FinancialDate" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>The financial date on which the transaction will be settled.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TransactionMetadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Transaction meta data, like the date and time when a transaction is performed and the unique id to determine the transaction in a given scope. The attribute "type" defines the scope of the transaction id.Ex: id = 213324 type = gateway, means this transaction can be identified in the payment gateway with id = 213324</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ConsumerTransactionId" type="payment:ConsumerTransactionIdType">
          <xs:annotation>
            <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="Error" type="common:ErrorType"/>
    </xs:choice>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:element name="RedeemRequest" type="RedeemRequestType"/>

  <xs:element name="RedeemResponse" type="RedeemResponseType">
    <xs:annotation>
      <xs:documentation>Response with the transaction status and the outcome of the inquiry</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
