src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider_Staged/SharedResources/XMLSchemas/PaymentServiceInternal/PaymentErrorSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by lchari (Williams-Sonoma, Inc.) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.wsgc.com/schemas/service/PaymentError.xsd"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.wsgc.com/schemas/service/PaymentError.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Error" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Type" type="xs:string"/>
							<xs:element name="Detail" type="xs:string"/>
							<xs:element name="ErrorMessage" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>