src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider/SharedResources/XMLSchemas/PaymentServiceInternal/LrcRedemptionDTCMOResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://paymentservice.wsgc.com/2014/common/PaymentServices/SharedResources/LrcRedemptionDTCMOResponse"
	 targetNamespace="http://paymentservice.wsgc.com/2014/common/PaymentServices/SharedResources/LrcRedemptionDTCMOResponse"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="LrcRedemptionDTCMOResponse">
		<xs:annotation>
			<xs:documentation>Root element for the operation LrcRedemption</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifier of the transaction, generated by the point of sale system</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResponseType" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Response type.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PaymentType" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Type of Payment LRC </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Concept" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Concept code to which LRC belongs to</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OrderNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Order Number from the request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificateNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>To be used in future.Incase multiple certificate type needs to be supported</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificateAmount" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Positive LRC amount value</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CertificateExpiry" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>LRC Certificate expiration date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Certificatestatus" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Status of the certificate.Possbile values are "ACTIVE","EXPIRED","CONSUMED"</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Transactiondate" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date when transaction was intiated.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Transactiontime" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Time when transaction was initiated.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ErrorDescription" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Error Description.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OperationStatus" type="xs:string" minOccurs="0"/>
				<xs:element name="RedeemedAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="FutureField" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>