src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider_Staged/SharedResources/XMLSchemas/2014/Payment/credit-authorization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://ecommerce.wsgc.com/2013/Common"
           xmlns="http://services.wsgc.com/2014/Payment"
           targetNamespace="http://services.wsgc.com/2014/Payment"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://ecommerce.wsgc.com/2013/Common"
             schemaLocation="../../2013/Common/common-all.xsd"/>

  <xs:include schemaLocation="base-types.xsd"/>

  <xs:complexType name="CreditCardAuthorizationRequestType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:element name="OrderContext" type="PaymentOrderContextType">
        <xs:annotation>
          <xs:documentation>Context of the order for which the transaction is being performed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
        <xs:annotation>
          <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalRequest" type="OriginalRequestType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>For retries, information about the original request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tender" type="AccountRequestTenderType">
        <xs:annotation>
          <xs:documentation>Tender information to be used in the transaction                        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardMetadata" type="CardMetadataType">
        <xs:annotation>
          <xs:documentation>
            Metadata associated with the card (generally printed on the
            card), such as cardholder name and card expiration date.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Pin" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Customer supplied PIN, if required/provided (such as for a
            debit card).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardVerificationCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CVV2/CVS/CID number that is back of the card in case of Non-AMEX and in front of the card that is in AMEX cards. Existence of this field will trigger CVV check.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsCardNotPresent" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Indicates whether the card is present for transaction.
          "True" indicates card is not presented.
          "False" indicates card is presented. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillingAddress" type="common:ContactMailType" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Bill-to name and bill-to address for a transaction. Existence of this element will trigger AVS check.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="common:CurrencyCodeType"/>
      <xs:element name="AuthorizationAmount" type="common:CurrencyAmountType">
        <xs:annotation>
          <xs:documentation>A positive authorization amount including tax amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncludedTaxAmount" type="common:CurrencyAmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A positive tax amount that is included authorization amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentPlanCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Payment plan code to use with the payment operation. The plan code value submitted through this element is passed to the payment switch (gateway) as is (with no translation).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="xs:string">
        <xs:annotation>
          <xs:documentation>Purpose of the transaction. In future value of this element can determine the behaviour of the operation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:complexType name="CreditCardAuthorizationResponseType">
    <xs:sequence>
      <xs:element name="SystemContext" type="common:SystemContextType"/>
      <xs:element name="PaymentContext" type="PaymentContextType"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="OrderContext" type="PaymentOrderContextType">
            <xs:annotation>
              <xs:documentation>The order context from the request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsumerTransactionId" type="ConsumerTransactionIdType">
            <xs:annotation>
              <xs:documentation>Unique transaction Id generated by the consumer application to identify the request. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationId" type="ConfirmationIdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Confirmation Id provided by the payment gateway</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizationStatus" type="xs:string">
            <xs:annotation>
              <xs:documentation>Compound string representing the status and or reason of the authorization Ex : HARDECLINED.BALANCE.INSUFFICIENT</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Authorization" type="AuthorizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Authorization code provided by the payment gateway.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressVerificationStatusCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>WSI bucketed code for address verification response code returned by the payment processor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CardVerificationStatusCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>WSI bucketed code for card identifier verification response code returned by the payment processor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionMetadata" type="common:MetadataType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation> Transaction metadata, like the date and time when a transaction is performed and the unique id to determine the transaction in a given scope. The attirbute "type" defines the scope of the transaction id.Ex: id = 213324 type = gateway, means this transaction can be identified in the payment gateway with id = 213324</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tender" type="TokenResponseTenderType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Payment token generated in the transaction.
              Existence of this  element , means the token is refreshed and consuming application should consider this as the replacement for the old token.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Error" type="TokenResponseErrorType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="version" type="common:VersionType" use="required"/>
  </xs:complexType>

  <xs:element name="CreditCardAuthorizationRequest" type="CreditCardAuthorizationRequestType">
    <xs:annotation>
      <xs:documentation>A request to authorize an amount.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="CreditCardAuthorizationResponse" type="CreditCardAuthorizationResponseType">
    <xs:annotation>
      <xs:documentation>A response that has the status of the transaction and outcome of the authorization.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
