src/main/resources/10-30-2017/PaymentServiceSoapProvider/PaymentServiceSOAPProvider/SharedResources/XMLSchemas/Verifone/UGP-V1/UGPTransactionSearchResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by lchari (Williams-Sonoma, Inc.) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/TransactionSearchResponse" xmlns:com="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type" targetNamespace="http://www.services.wsgc.com/2014/Payment/Verfione/UGP/TransactionSearchResponse" elementFormDefault="unqualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://services.wsgc.com/2014/Payment/Verfione/UGP/base-type" schemaLocation="UGPbase-type.xsd"/>
	<xs:element name="UGPRESPONSE">
		<xs:complexType>
			<xs:all>
				<xs:element name="ACCOUNT" type="com:ACCOUNT_TYPE" minOccurs="0"/>
				<xs:element name="SITE" type="com:SITE_TYPE" minOccurs="0"/>
				<xs:element name="TERM" type="com:TERM_TYPE" minOccurs="0"/>
				<xs:element name="COMMAND" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT_CODE" type="xs:string" minOccurs="0"/>
				<xs:element name="RESPONSE_TEXT" type="xs:string" minOccurs="0"/>
				<xs:element name="RESULT" type="xs:string" minOccurs="0"/>
				<xs:element name="FUNCTION_TYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="FORMAT" type="xs:string" minOccurs="0"/>
				<xs:element name="DEVTYPE" type="xs:string" minOccurs="0"/>
				<xs:element name="RETURN_FLD_HDRS" type="xs:string" minOccurs="0"/>
				<xs:element name="SERIAL_NUM" type="xs:string" minOccurs="0"/>
				<xs:element name="DELIMITER" type="xs:string" minOccurs="0"/>
				<xs:element name="DEVICEKEY" type="xs:string" minOccurs="0"/>
				<xs:element name="NUM_RECORDS_FOUND" type="xs:string" minOccurs="0"/>
				<xs:element name="SEARCHFIELDS" type="com:SEARCHFIELDSTYPE" minOccurs="0"/>
				<xs:element name="RECORDS" type="com:RECORDSTYPE" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="RSA" type="xs:string">
				<xs:annotation>
					<xs:documentation>A re-Admin is triggered by the RSA attribute value “1” inside the UGPRESPONSE tag of a transaction.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RSV" type="xs:string">
				<xs:annotation>
					<xs:documentation>Re-Sync VeriCentre</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
