src/main/resources/10-30-2017/PaymentServiceDTCMOConnectors/PaymentServiceDTCMOConnectors/SharedResources/XMLSchemas/PaymentServiceInternal/RECON_CAPTURE_CC_PLCC.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PaymentServices/SharedResources/PaymentServiceInternal/RECON_CAPTURE_CC_PLCC.xsd"
	 xmlns:ns0="http://services.wsgc.com/2014/Payment"
	 targetNamespace="http://www.tibco.com/schemas/PaymentServices/SharedResources/PaymentServiceInternal/RECON_CAPTURE_CC_PLCC.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://services.wsgc.com/2014/Payment" schemaLocation="../2014/Payment/credit-capture.xsd"/>
	<xs:element name="RECON_CC_CREDIT_PLCC">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FinancialDate" type="xs:date"/>
				<xs:element name="CreditCardMarkForCaptureRequest" type="ns0:CreditCardMarkForCaptureRequestType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>